.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input {
  border-radius: 7px;
  padding: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
